.bs-header-nav .nav-item{
    @apply text-[18px] cursor-pointer hover:text-[#725CFE] transition-all duration-500;
}
.menu-b .nav-item{
  @apply cursor-pointer hover:text-[#725CFE] transition-all duration-500;
}


.bs-header-btn button{
    transition: all 250ms ease-in-out;
}
.bs-header-btn button:hover{
    transform: translate(5px, -5px);
    box-shadow: 0px 8px 20px 2px#372688;
    
}
.bm-menu {
    background: black;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
.bm-burger-bars {
    background: #fff;
  }
  /* Cambia el fondo del overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.5);
  }
.menu-res{
  position: fixed;
  background: #0f0f10;
  height: 100vh;
  width: 60%;
  top:0;
  right:0;
  transition: all 0.8s ease;
}
.menu-res-hidden{
  position: fixed;
  background: #0f0f10;
  height: 100vh;
  width: 60%;
  top:0;
  right:-60%;
  transition: all 0.8s ease;
}
